<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<!--/* Workaround for bug https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<!--@thymesVar id="seanceList" type="com.example.sda.cinema.management.snapshot.controller.WebController"-->
<!--@thymesVar id="seance" type="com.example.sda.cinema.management.snapshot.model.Seance"-->
<!--@thymesVar id="movie" type="com.example.sda.cinema.management.snapshot.model.Movie"-->
<!--*/-->



<head>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>-->
    <meta charset="UTF-8">
    <title>Add new seance</title>
</head>
<body>

<h2>New seance</h2>
<form autocomplete="off" action="#" th:action="@{/newseance}" method="post" th:object="${seance}" class="form-horizontal" role="form">

    <option type="text" th:field="*{getMovie().getTitle()}">Title</option>

    <p>Length</p>

    <input type="range" min="1" max="200" th:field="*{getStartingTime()}">

    <p>Hall</p>
    <select th:field="*{getHall()}">

    <option th:each="movie : ${seance.getMovie()}" th:value="${seance.getMovie().getId()}" th:text="${seance.getMovie().getLength()}">Seance Detalis</option>

    </select>

    <input type="submit" value="ADD">

</form>

</body>
</html>